.cart-hydration-error {
    background: var(--color-error);
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    /* no gap because the table inside has border-spacing */
}

.cart-hydration-actions {
    gap: var(--default-padding);
    margin-top: var(--default-padding);
}
