#order-history {
    gap: var(--default-padding);
}

#order-history .order-history-filters {
    gap: var(--default-padding);
    justify-content: center;
}

#order-history .order-history-summary {
    color: var(--color-text-secondary);
}

#order-history .order-history-list {
    gap: var(--default-padding);
}
