nav {
    overflow-y: auto;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    width: 18rem;
}

nav #sticky-header-list {
    top: 0;
    position: sticky;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.expandable-nav-list {
    overflow-y: auto;
    display: none;
}

nav.expanded .expandable-nav-list {
    display: block;
}

nav a.link-button.visibility-toggle {
    background: #DDD;
    height: min-content;
    padding: var(--default-padding);
    position: sticky;
}

nav a.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    transition: background-color 0.2s ease;
    color: black;
    text-decoration: none;
}

nav a.link-button.active {
    background: deepskyblue;
    color: black;
}

.expandable-nav-list .cafe a, .nav-numbered-cafe-list, .nav-numbered-cafe-list-item {
    background: #333;
}

.expandable-nav-list .cafe a, .nav-numbered-cafe-list-item {
    text-align: center;
    transition: background-color 0.2s ease;
}

.expandable-nav-list .cafe a:hover, .nav-numbered-cafe-list-item:hover {
    background: #444;
}

.expandable-nav-list .cafe a.active {
    background: deepskyblue;
    color: #333;
}

.expandable-nav-list.group {
    border: 0.5rem solid #212121;
    border-top: none;
}

.expandable-nav-list .view-group-name {
    padding: 0.5rem;
    text-align: center;
    background: #4e92c2;
}

nav a {
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a.active {
    color: deepskyblue;
}


#site-header {
    background: var(--theme-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--default-padding) var(--default-padding) 0 var(--default-padding);
    transition: padding 0.5s ease;
}

#site-header img {
    height: 4rem;
    transition: height 0.5s ease;
}

nav form {
    display: inline;
}

#site-header span {
    padding-bottom: var(--default-padding);
    transition: padding 0.5s ease;
}

.nav-numbered-cafe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-numbered-cafe-list-item {
    width: 2rem;
    height: 2rem;
    flex-grow: 1;
}

@media screen and (max-height: 800px) {
    #site-header {
        padding: 0.5rem 0.5rem 0 0.5rem;
    }

    #site-header span {
        padding-bottom: 0.5rem;
    }

    #site-header img {
        height: 2rem;
    }
}

@media screen and (max-width: 800px) {
    nav {
        width: 100%;
    }

    nav.expanded {
        height: 100%;
        position: fixed;
        overflow-y: scroll;
        z-index: var(--z-index-everything-but-top);
    }
}