nav {
    overflow-y: auto;
    flex-shrink: 0;
    position: relative;
}

nav #sticky-header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    position: sticky;
}

.expandable-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    display: none;
    width: 100%;
}

nav.expanded .expandable-nav-list {
    display: block;
}

nav .visibility-toggle {
    display: none;
}

nav a.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    transition: background-color 0.2s ease;
    color: black;
    text-decoration: none;
}

nav a.link-button.active {
    background: deepskyblue;
    color: black;
}

.expandable-nav-list .cafe a {
    text-align: center;
    background: #333;
    transition: background-color 0.2s ease;
}

.expandable-nav-list .cafe a:hover {
    background: #444;
}

.expandable-nav-list .cafe a.active {
    background: deepskyblue;
    color: #333;
}

nav a {
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a.active {
    color: deepskyblue;
}


#site-header {
    background: #3488e0ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    transition: padding 0.5s ease;
}

#site-header img {
    height: 4rem;
    transition: height 0.5s ease;
}

nav form {
    display: inline;
}

#site-header span {
    padding-bottom: 1rem;
    transition: padding 0.5s ease;
}

@media(max-height: 800px) {
    #site-header {
        padding: 0.5rem 0.5rem 0 0.5rem;
    }

    #site-header span {
        padding-bottom: 0.5rem;
    }

    #site-header img {
        height: 2rem;
    }
}

@media screen and (max-width: 800px) {
    nav.expanded {
        height: 100%;
        width: 100%;
        position: fixed;
        overflow-y: scroll;
        z-index: 10;
    }

    nav .visibility-toggle {
        display: initial;
        width: 100%;
    }
}