nav {
    overflow-y: auto;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    width: 18rem;
    z-index: var(--z-index-top);
    display: flex;
    flex-direction: column;
    --color-cafe-list: #333;
    --color-button-background: #FAFAFA;
}

nav #sticky-header-list {
    top: 0;
    position: sticky;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

nav ul.default-background {
    background: var(--color-button-background);
}

nav #cafe-list {
    flex-grow: 1;
    background: var(--color-cafe-list);
    flex-direction: column;
    justify-content: space-around;
}

nav.expanded #cafe-list {
    display: flex;
}

.expandable-nav-list {
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

nav.expanded .expandable-nav-list {
    display: block;
}

nav a.link-button.visibility-toggle {
    background: #DDD;
    height: min-content;
    padding: var(--default-padding);
    position: sticky;
}

nav a.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-button-background);
    transition: background-color 0.2s ease;
    color: black;
    text-decoration: none;
}

nav a.link-button.active {
    background: deepskyblue;
    color: black;
}

.expandable-nav-list .cafe a, .nav-numbered-cafe-list, .nav-numbered-cafe-list-item {
    background: var(--color-cafe-list);
}

.expandable-nav-list .cafe a, .nav-numbered-cafe-list-item {
    text-align: center;
    transition: background-color 0.2s ease;
}

.expandable-nav-list .cafe a:hover, .nav-numbered-cafe-list-item:hover {
    background: #444;
}

.expandable-nav-list .cafe a.active {
    background: deepskyblue;
    color: var(--color-cafe-list);
}

.expandable-nav-list.group {
    border: 0.5rem solid #212121;
    border-top: none;
}

.expandable-nav-list .view-group-name {
    padding: var(--constant-padding);
    text-align: center;
    background: #4e92c2;
}

nav a {
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a.active {
    color: deepskyblue;
}


#site-header {
    background: var(--color-theme);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--default-padding) var(--default-padding) 0 var(--default-padding);
    transition: padding 0.5s ease;
}

#site-header img {
    height: 4rem;
    width: 4rem;
    transition: height 0.5s ease;
}

nav form {
    display: inline;
}

#site-header span {
    padding-bottom: var(--default-padding);
    transition: padding 0.5s ease;
}

nav.expanded .expandable-nav-list.nav-numbered-cafe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-numbered-cafe-list-item {
    width: 2rem;
    height: 2rem;
    flex-grow: 1;
}

@media screen and (max-height: 800px) {
    #site-header {
        padding: var(--constant-padding) var(--constant-padding) 0 var(--constant-padding);
    }

    #site-header span {
        padding-bottom: var(--constant-padding);
    }

    #site-header img {
        height: 2rem;
    }
}

@media screen and (max-width: 800px) {
    nav {
        width: 100%;
    }

    nav.expanded {
        height: 100%;
        position: fixed;
        overflow-y: scroll;
    }
}