.date-picker {
    background: #32768ADA;
    padding: var(--default-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--default-padding);
    position: fixed;
    z-index: var(--z-index-above-content-3);
    right: 1rem;
    bottom: 0;
    border-radius: var(--default-padding);
}

.date-picker-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--default-padding);
}

.date-picker-buttons button {
    padding: 0.5rem;
}

@media screen and (max-width: 800px) {
    .date-picker-buttons button {
        flex-grow: 1;
    }

    .date-picker {
        background: #32768a;
        top: unset;
        right: unset;
        border-radius: var(--default-padding);
        position: relative;
        z-index: unset;
    }
}