:root {
    --color-theme: #3488e0ff;
    --color-card-background: #FAFAFA;
    --color-card-foreground: #212121;
    --z-index-content: 1;
    --z-index-above-content: 5;
    --z-index-above-content-2: 10;
    --z-index-above-content-3: 15;
    --z-index-everything-but-top: 50;
    --z-index-top: 100;
    /*above top*/
    --z-index-modal: 200;
    --color-background: #212121;
    --color-foreground: #FAFAFA;
    --color-error: #9d5353;
    --color-error-accent: #7e4141;
    --constant-padding: 0.5rem;
    --icon-size: 24px;
}

body, html {
    padding: 0;
    margin: 0;
}

html {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    user-select: none;
}

button:disabled {
    cursor: not-allowed;
}

image {
    object-fit: contain;
}

.card, .error-card {
    background: var(--color-card-background);
    color: var(--color-card-foreground);
}

.card.error, .error-card {
    --color-card-background: var(--color-error);
    --color-card-foreground: white;
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card.error a, .card.error button, .error-card a, .error-card button {
    padding: var(--constant-padding);
    border-radius: var(--constant-padding);
    border: 0.125rem solid white;
    margin-top: var(--default-padding);
    background: var(--color-card-foreground);
    color: var(--color-card-background);
    cursor: pointer;
}

.card.error .chip {
    background: var(--color-card-foreground);
    color: var(--color-card-background);
}

.card.yellow {
    background: #d3973c;
    color: var(--color-card-foreground);
}

.card.theme {
    background: var(--color-theme);
    color: #FAFAFA;
}

.App {
    display: flex;
}

html, body, #root, .App {
    height: 100%;
}

.content {
    overflow-y: scroll;
    padding: var(--default-padding);
    flex-grow: 1;
    scrollbar-gutter: stable;
}

.content.noscroll {
    overflow-y: hidden;
}

.search-bar-container {
    background: #232323;
    padding: var(--default-padding);
}

.search-bar {
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;
    border-radius: var(--default-padding);
}

.search-bar input[type=text] {
    border: none;
    padding: var(--constant-padding);
    background: none;
    flex-grow: 1;
}

.search-bar button {
    background: none;
    border: none;
    padding: var(--constant-padding);
    cursor: pointer;
}

.card {
    padding: var(--default-padding);
    background: var(--color-card-background);
    color: var(--color-card-foreground);
    border-radius: var(--default-padding);
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.card.horizontal {
    flex-direction: row;
}

.card .title {
    font-size: var(--card-title-font-size);
}

.card .title.text-center {
    text-align: center;
}

.card .subtitle {
    font-size: var(--card-subtitle-font-size);
    opacity: 0.75;
    font-style: italic;
}

.card.blue {
    background: #2196F3;
    color: white;
}

.card.dark-blue {
    background: #254569;
    color: white;
}

.default-gap {
    gap: var(--default-padding);
}

.material-symbols-outlined {
    user-select: none;
}

.default-button {
    background: #2196F3;
    color: white;
    text-decoration: none;
}

.mono {
    font-family: monospace;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 2rem;
    height: 2rem;
    background: #2196F3;
    animation: loading-spinner 1s ease infinite;
}

.loading-spinner-custom {
    animation: loading-spinner 1s ease infinite;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: var(--default-padding);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.expand-icon {
    transform: rotate(0deg);
    transition: transform 0.25s ease-in-out;
}

.expand-icon.collapsed {
    transform: rotate(180deg);
}

.pointer {
    cursor: pointer;
}

.default-padding {
    padding: var(--default-padding);
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.flex {
    display: flex;
    align-items: center;
    gap: var(--default-padding);
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-end {
    justify-content: flex-end;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-nowrap {
    white-space: nowrap;
}

.self-stretch {
    align-self: stretch;
}

.collapsible-content .collapse-toggle {
    font-size: 1.4em;
    text-align: center;
    padding: var(--default-padding);
    background: #00796B;
    color: white;
    border-radius: var(--default-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--constant-padding);
    border: none;
    text-decoration: none;
    cursor: pointer;
    flex-grow: 1;
}

.collapsible-content.collapsed .collapse-body {
    display: none;
}

.scroll-anchor {
    scroll-margin: var(--default-padding);
}

.left-align {
    text-align: left;
}

.default-container {
    padding: var(--default-padding);
    border-radius: var(--default-padding);
}

.default-table {
    border-spacing: var(--default-padding);
}

.chip {
    background: var(--color-theme);
    border-radius: var(--default-padding);
}

.loading-skeleton {
    animation: loading-skeleton 2s ease-in-out infinite;
}

.loading-skeleton, .loading-skeleton button, .loading-skeleton .pointer {
    cursor: wait;
}

@keyframes loading-skeleton {
    0% {
        opacity: 60%;
    }

    50% {
        opacity: 40%;
    }

    100% {
        opacity: 60%;
    }
}

.default-margin-bottom {
    margin-bottom: var(--default-padding);
}

.material-symbols-outlined, .icon-sized {
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
}

.transition-background {
    transition: background-color 0.25s ease;
}

/* wide screens (tablet, computer) */
@media screen and (min-width: 801px) {
    :root {
        --default-padding: 1rem;
        --cafe-logo-height: 4rem;
    }

    .compact-view-mode {
        --default-padding: 0.5rem;
        --cafe-logo-height: 2rem;
    }
}

/* narrow screens (phone) */
@media screen and (max-width: 800px) {
    :root {
        --default-padding: 0.5rem;
        --cafe-logo-height: 2rem;
    }

    .compact-view-mode {
        --default-padding: 0.25rem;
        --cafe-logo-height: 1rem;
    }

    .App {
        flex-direction: column;
    }

    .station .menu-body {
        overflow-x: auto;
    }
}

/* tall screens */
@media screen and (min-height: 801px) {
    :root {
        --page-title-font-size: 1.8em;
        --page-subtitle-font-size: 1.6em;
        --section-title-font-size: 1.4em;
        --card-title-font-size: 1.2em;
        --card-subtitle-font-size: 0.9em;
    }

    .compact-view-mode {
        --page-title-font-size: 1.6em;
        --page-subtitle-font-size: 1.4em;
        --section-title-font-size: 1.2em;
        --card-title-font-size: 1.1em;
        --card-subtitle-font-size: 0.85em;
    }
}

/* short screens */
@media screen and (max-height: 800px) {
    :root {
        --default-padding: 0.5rem;
        --cafe-logo-height: 2rem;

        --page-title-font-size: 1.6em;
        --page-subtitle-font-size: 1.4em;
        --section-title-font-size: 1.2em;
        --card-title-font-size: 1.1em;
        --card-subtitle-font-size: 0.85em;
    }

    .compact-view-mode {
        --page-title-font-size: 1.4em;
        --page-subtitle-font-size: 1.2em;
        --section-title-font-size: 1.1em;
        --card-title-font-size: 1em;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out-leave-tree {
    0% {
        opacity: 100%;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
