body, html {
    padding: 0;
    margin: 0;
}

html {
    background: #212121;
    color: white;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.error-card {
    background: #B71C1C;
    color: white;
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.error-card a, .error-card button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.125rem solid white;
    margin-top: var(--default-padding);
    background: white;
    color: #B71C1C;
    cursor: pointer;
}

.App {
    display: flex;
}

html, body, #root, .App {
    height: 100%;
}

.content {
    overflow-y: scroll;
    padding: var(--default-padding);
    flex-grow: 1;
}

.content.noscroll {
    overflow-y: hidden;
}

.search-bar-container {
    background: #232323;
    padding: var(--default-padding);
}

.search-bar {
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;
    border-radius: var(--default-padding);
}

.search-bar input[type=text] {
    border: none;
    padding: 0.5rem;
    background: none;
    flex-grow: 1;
}

.search-bar button {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.card {
    padding: var(--default-padding);
    background: #FAFAFA;
    color: #212121;
    border-radius: var(--default-padding);
    display: flex;
    flex-direction: column;
}

.card.centered {
    text-align: center;
}

.card.horizontal {
    flex-direction: row;
}

.card .title {
    font-size: 1.2em;
}

.card .title.centered {
    text-align: center;
}

.card.blue {
    background: #2196F3;
    color: white;
}

.default-gap {
    gap: var(--default-padding);
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 2rem;
    height: 2rem;
    background: #2196F3;
    animation: loading-spinner 1s ease infinite;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: var(--default-padding);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.expand-icon {
    transform: rotate(0deg);
    transition: transform 0.25s ease-in-out;
}

.expand-icon.collapsed {
    transform: rotate(180deg);
}

@media screen and (min-width: 801px) {
    :root {
        --default-padding: 1rem;
        --cafe-logo-height: 4rem;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --default-padding: 0.5rem;
        --cafe-logo-height: 2rem;
    }

    html, body, #root, .App, .collapsible-menu-list, .collapsible-cafe, .stations, .station {
        width: 100%;
    }

    .App {
        flex-direction: column;
    }

    .expandable-nav-list, .content {
        overflow-y: initial;
    }

    .stations {
        padding: 0;
    }

    .station table {
        border-spacing: 0.75rem;
    }

    .station {
        overflow-x: hidden;
    }

    .station .menu-body {
        width: 100%;
        overflow-x: auto;
    }
}

.pointer {
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutLeaveTree {
    0% {
        opacity: 100%;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
