.notice {
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.notice.visible {
    opacity: 1;
}

.notice.flash {
    animation: flash 1.5s ease-in-out infinite;
}

@keyframes flash {
    0% {
        background: var(--color-notice-flash-from);
    }

    50% {
        background: var(--color-notice-flash-to);
    }

    100% {
        background: var(--color-notice-flash-from);
    }
}

@media screen and (max-height: 800px) {
    .notice {
        display: none;
    }

    .notice.visible {
        display: flex;
    }
}