.menu-item-order-body {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
    background: var(--color-menu-item-popup-body);
    border-radius: var(--default-padding);
    padding: var(--default-padding);
}

.menu-item-order-body .menu-item-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-order-body .menu-item-description {
    opacity: 0.8;
    font-style: italic;
    text-align: center;
}

.menu-item-configuration {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.menu-item-modifiers {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
    justify-content: center;
}

.menu-item-modifier {
    background: var(--color-menu-item-modifier);
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    transition: background-color 0.25s ease;
}

.menu-item-modifier.error {
    background: var(--color-menu-item-modifier-error);
}

.menu-item-modifier.error .modifier-choice-option {
    background: var(--color-menu-item-modifier-option);
}

.menu-item-notes {
    display: flex;
    flex-direction: column;
}

.menu-item-order-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--default-padding);
}

.menu-item-order-footer .info, .menu-item-order-footer .controls {
    display: flex;
    gap: var(--default-padding);
    align-items: center;
    justify-content: center;
}

.menu-item-order-footer .controls button {
    padding: var(--constant-padding);
}

.menu-item-order-footer .add-to-cart {
    background: var(--color-theme);
    color: white;
    border-radius: var(--default-padding);
    padding: 1rem;
    transition: background-color 0.25s ease;
}

.menu-item-order-footer .add-to-cart:disabled {
    background: var(--color-menu-item-add-to-cart-disabled);
}

.menu-item-order-body .menu-item-notes textarea {
    resize: none;
}

.menu-item-order-body .modifier-choice-option-list {
    display: flex;
    flex-direction: column;
    gap: var(--constant-padding);
}

.menu-item-order-body .modifier-choice-option {
    display: flex;
    align-items: center;
    gap: var(--constant-padding);
    padding: var(--constant-padding);
    background: var(--color-menu-item-modifier-option);
    border-radius: var(--default-padding);
    transition: all 0.25s ease;
}

.menu-item-order-body .modifier-choice-option.disabled {
    background: var(--color-menu-item-modifier-option-disabled-background);
    color: var(--color-menu-item-modifier-option-disabled-text);
}

.menu-item-order-body .modifier-choice-option input {
    margin: 0;
}

.menu-item-order-body .menu-item-image {
    max-height: 25rem;
    max-width: 100%;
}