.menu-item-order-body {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
    background: #F4F4F4;
    border-radius: var(--default-padding);
    padding: var(--default-padding);
}

.menu-item-order-body .menu-item-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-order-body .menu-item-description {
    opacity: 0.8;
    font-style: italic;
    text-align: center;
}

.menu-item-configuration {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.menu-item-modifiers {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
    justify-content: center;
}

.menu-item-modifier {
    background: #E7E7E7;
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    transition: background-color 0.25s ease;
}

.menu-item-modifier.error {
    background: #e7dede;
}

.menu-item-modifier.error .modifier-choice-option {
    background: #dad1d1;
}

.menu-item-notes {
    display: flex;
    flex-direction: column;
}

.menu-item-order-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--default-padding);
}

.menu-item-order-footer .info, .menu-item-order-footer .controls {
    display: flex;
    gap: var(--default-padding);
    align-items: center;
    justify-content: center;
}

.menu-item-order-footer .controls button {
    padding: var(--constant-padding);
}

.menu-item-order-footer .add-to-cart {
    background: #2196F3;
    color: white;
    border-radius: var(--default-padding);
    padding: 1rem;
    transition: background-color 0.25s ease;
}

.menu-item-order-footer .add-to-cart:disabled {
    background: #BBDEFB;
}

.menu-item-order-body .menu-item-notes textarea {
    resize: none;
}

.menu-item-order-body .modifier-choice-option-list {
    display: flex;
    flex-direction: column;
    gap: var(--constant-padding);
}

.menu-item-order-body .modifier-choice-option {
    display: flex;
    align-items: center;
    gap: var(--constant-padding);
    padding: var(--constant-padding);
    background: #DADADA;
    border-radius: var(--default-padding);
    transition: all 0.25s ease;
}

.menu-item-order-body .modifier-choice-option.disabled {
    background: #E5E5E5;
    color: #999;
}

.menu-item-order-body .modifier-choice-option input {
    margin: 0;
}

.menu-item-order-body .menu-item-image {
    max-height: 25rem;
    max-width: 100%;
}