.card.settings .title {
    font-size: 1.4em;
    text-align: center;
}

.card.settings .body {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.setting {
    display: flex;
    justify-content: space-between;
}

.setting-info .setting-name {
    font-size: 1.2em;
}

.setting-info .setting-description {
    opacity: 0.75;
}

#setting-homepage {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.setting-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.setting-chip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #DDD;
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    gap: 0.5rem;
}

.setting-name, .setting-chip label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}