#settings {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.setting {
    display: flex;
    justify-content: space-between;
    gap: var(--default-padding);
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    background: #EEE;
}

.boolean-setting, .boolean-setting * {
    cursor: pointer;
}

.setting-info .setting-name {
    font-size: 1.2em;
}

.setting-info .setting-description {
    opacity: 0.75;
}

#setting-homepage, #setting-display {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

#setting-homepage .group {
    padding: var(--constant-padding);
    border-radius: var(--constant-padding);
    background: #4e92c2;
    display: flex;
    flex-wrap: wrap;
    gap: var(--constant-padding);
    align-items: center;
}

#setting-homepage .group .view-group-name {
    text-align: center;
    color: white;
}

#setting-homepage .groups {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
}

.setting-chips {
    display: flex;
    flex-wrap: wrap;
    gap: var(--constant-padding);
}

.setting-chip, .setting-chip * {
    cursor: pointer;
}

.setting-chip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #DDD;
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    gap: var(--constant-padding);
}

.setting-name, .setting-chip label {
    display: flex;
    align-items: center;
    gap: var(--constant-padding);
}

#setting-custom {
    gap: var(--default-padding);
}

#setting-custom .setting-input {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
    flex-grow: 1;
}

#setting-custom button {
    background: #4e92c2;
    color: white;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    cursor: pointer;
}

#setting-custom #custom-key-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--default-padding);
}

#setting-custom #custom-key-checkbox.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#homepage-views-commit-button {
    background: #4e92c2;
    color: white;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    cursor: pointer;
}

.settings-group .body {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

/* Override card behavior if isOwnCard=True */
#setting-price-filters {
    flex-direction: row;
}

#setting-price-filters .number-setting {
    background: #85a4de;
    transition: background-color 0.25s ease, opacity 0.25s ease;
}

#setting-price-filters .number-setting input {
    border: 0;
}

#setting-price-filters .number-setting.invalid {
    background: #be6363;
}

#setting-price-filters .number-setting.at-limit {
    background: #6382be;
}

#setting-price-filters .number-setting.disabled {
    background: #DDD;
    opacity: 0.5;
}

@media screen and (max-width: 800px) {
    .setting {
        flex-direction: column;
    }
}