#settings {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.setting {
    display: flex;
    justify-content: space-between;
    gap: var(--default-padding);
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    background: var(--color-setting);
}

.boolean-setting, .boolean-setting * {
    cursor: pointer;
}

.setting-info .setting-name {
    font-size: var(--card-title-font-size);
}

.setting-info .setting-description {
    opacity: 0.75;
}

#setting-homepage, #setting-display {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

#setting-homepage .group {
    padding: var(--constant-padding);
    border-radius: var(--constant-padding);
    background: var(--color-setting-group);
    display: flex;
    flex-wrap: wrap;
    gap: var(--constant-padding);
    align-items: center;
}

#setting-homepage .group .view-group-name {
    text-align: center;
    color: white;
}

#setting-homepage .groups {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
}

.setting-chips {
    display: flex;
    flex-wrap: wrap;
    gap: var(--constant-padding);
}

.setting-chip, .setting-chip * {
    cursor: pointer;
}

.setting-chip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-setting-chip);
    border-radius: var(--default-padding);
    padding: var(--constant-padding) var(--default-padding);
    gap: var(--constant-padding);
}

.setting-name, .setting-chip label {
    display: flex;
    align-items: center;
    gap: var(--constant-padding);
}

#setting-custom {
    gap: var(--default-padding);
}

#setting-custom .setting-input {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
    flex-grow: 1;
}

#setting-custom #custom-key-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--default-padding);
}

#setting-custom #custom-key-checkbox.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#homepage-views-commit-button {
    background: var(--color-button-cta);
    color: white;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    cursor: pointer;
}

.card.collapsible-padding {
    transition: padding 0.25s ease;
    --color-header: var(--color-collapsible-header);
}

.card.collapsible-padding.collapsed {
    padding: 0;
}

.settings-group .body {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

/* Override card behavior if isOwnCard=True */
#setting-price-filters {
    flex-direction: row;
}

#setting-price-filters .number-setting {
    background: var(--color-price-filters-number-setting);
    transition: background-color 0.25s ease, opacity 0.25s ease;
}

#setting-price-filters .number-setting input {
    border: 0;
}

#setting-price-filters .number-setting.invalid {
    background: var(--color-price-filters-number-setting-invalid);
}

#setting-price-filters .number-setting.at-limit {
    background: var(--color-price-filters-number-setting-at-limit);
}

#setting-price-filters .number-setting.disabled {
    background: var(--color-price-filters-number-setting-disabled);
    opacity: 0.5;
}

@media screen and (max-width: 800px) {
    .setting {
        flex-direction: column;
    }
}