.member-toggle .member {
    transition: background-color 0.25s ease;
}

.member-toggle .member.active {
    background: var(--color-theme-green);
}

#floating-create-group {
    position: absolute;
    bottom: var(--default-padding);
    right: var(--default-padding);
    background: var(--color-theme-background-accent);
}