#analytics-page #after-selector {
    display: flex;
    gap: var(--default-padding);
}

#analytics-page .days-ago-option {
    padding: var(--default-padding) 2rem var(--default-padding) 2rem;
    outline: none;
    border: none;
    border-radius: var(--default-padding);
    background: #2196F3;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

#analytics-page .days-ago-option:hover, #analytics-page .days-ago-option.active {
    background: #1976D2;
}