#analytics-page {
    --color-setting-background: #DDD;
}

#analytics-page #days-ago-selector {
    display: flex;
    gap: var(--default-padding);
    background: var(--color-setting-background);
}

#analytics-page .days-ago-option {
    padding: var(--default-padding) 2rem var(--default-padding) 2rem;
    outline: none;
    border: none;
    border-radius: var(--default-padding);
    background: var(--color-theme);
    color: white;
    transition: background-color 0.2s ease-in-out;
}

#analytics-page .days-ago-option:hover, #analytics-page .days-ago-option.active {
    background: var(--color-theme-dark);
}

#analytics-page .volume-type {
    background: var(--color-setting-background);
}

#analytics-page .volume-type button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#analytics-page .volume-type .selected {
    background: var(--color-analytics-volume-type-selected);
}

#analytics-page .scenarios .dropdown {
    max-height: 30vh;
    overflow-y: auto;
}

#analytics-page .scenarios .dropdown .scenario {
    flex-grow: 1;
}

#analytics-page .scenarios .dropdown .selected {
    background: var(--color-analytics-dropdown-selected);
}

#analytics-page .chart-container {
    min-height: 12rem;
}