#top-overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    animation-name: fadeIn;
    animation-duration: 0.35s;
    animation-timing-function: ease;
}

#modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    margin: var(--default-padding);
    max-height: 90%;
    max-width: 90%;
}

.modal .title {
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.modal .body {
    overflow: auto;
}

.modal .close {
    background: none;
}

.modal .close span.material-symbols-outlined {
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    background: #EEE;
}