#top-overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.fade-in {
    animation: fade-in 0.35s ease-in-out;
}

#popup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    margin: var(--default-padding);
    max-height: 90%;
    max-width: 90%;
    box-sizing: border-box;
}

.modal .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.modal .title #modal-title {
    font-size: var(--card-title-font-size);
}

.modal .title #modal-buttons {
    display: flex;
    gap: var(--default-padding);
    align-items: center;
    justify-content: center;
}

.modal .title #modal-buttons button {
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal .title #modal-buttons button > * {
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    background: #EEE;
    transition: background-color 0.25s ease;
}

.modal .body {
    overflow: auto;
    flex-grow: 1;
}

.modal .footer {
    margin-top: var(--default-padding);
}

@media screen and (max-width: 800px) {
    .modal {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        width: 100%;
    }
}