.favorite-item-button {
    background: var(--color-favorite-button-false-background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--default-padding);
    position: relative;
}

.favorite-item-button > * {
    position: absolute;
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    transition: background-color 0.25s ease, opacity 0.25s ease;
}

.favorite-item-button.is-favorite > * {
    background: var(--color-favorite) !important;
}