.favorite-item-button {
    background: #EDEDED;
    transition: background-color 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--constant-padding);
    border-radius: var(--constant-padding);
}

.favorite-item-button.is-favorite {
    background: var(--color-favorite) !important;
}