:root {
    --favorite-color: #ffe7ab;
    --favorite-color-dark: #ffd97a;
}

.favorite-item-button {
    background: #EDEDED;
    transition: background-color 0.25s ease;
}

.favorite-item-button.is-favorite {
    background: var(--favorite-color);
}