#scroll-top {
    position: fixed;
    bottom: var(--default-padding);
    padding: 1rem;
    border-radius: 100%;
    background: #2c3041;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    color: white;
    transform: translateX(var(--default-padding));
}

#scroll-top.visible {
    visibility: visible;
    opacity: 0.5;
}