#payment-info {

}

#payment-info .field {
    align-self: stretch;
    justify-content: space-between;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    transition: background-color 0.25s ease;
    background: #EEE;
}

#payment-info .field.invalid {
    background: #ffbbbb;
}

#payment-info .field .field-info {
    gap: 0.5rem;
}

#payment-info .payment-section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
    align-items: center;
    justify-content: center;
}

#payment-info #payment-submit {
    background: #7cc4ff;
    transition: background-color 0.25s ease;
}

#payment-info #payment-submit.invalid {
    background: #cfdbe3;
}

@media screen and (max-width: 800px) {
    #payment-info .field {
        flex-grow: 1;
    }
}