#payment-info {

}

#payment-info .field {
    align-self: stretch;
    justify-content: space-between;
}

#payment-info .payment-section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    #payment-info .field {
        flex-grow: 1;
    }
}