.collapsible-menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.collapsible-cafe .cafe-header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.collapsible-cafe .cafe-name {
    font-size: 1.4em;
    text-align: center;
    padding: 1rem;
    background: #00796B;
    color: white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

.collapsible-cafe .cafe-name .logo {
    height: 4rem;
}

.collapsible-cafe .cafe-order-link {
    background: #0277BD;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.station .title {
    transition-property: border-top-left-radius, border-top-right-radius;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    justify-content: space-between;
}

.station .menu-body {
    background: #FAFAFA;
}

.station.collapsed {
    background: none;
}

.station.collapsed .title {
    border-radius: 1rem;
}

.station.collapsed .menu-body {
    display: none;
}