.combined-menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.combined-dining-hall-title {
    font-size: 1.4em;
    text-align: center;
    padding: 1rem;
    background: #00796B;
    color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
}

.combined-dining-hall-title span {
    margin-left: 0.5rem;
}

button.combined-dining-hall-title {
    width: 100%;
    cursor: pointer;
}

.combined-dining-hall-title .expand-icon {
    transform: rotate(0deg);
    transition: transform 0.25s ease-in-out;
}

.combined-dining-hall-title .expand-icon.collapsed {
    transform: rotate(180deg);
}
