.stations {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
    justify-content: center;
}

.stations.hidden {
    display: none;
}

.station {
    border-radius: 0.5rem;
    color: #212121;
    display: flex;
    flex-direction: column;
}

.station .title {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background: #BBB;
    padding: var(--default-padding);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.station .title img {
    height: 1.4em;
    margin-right: 0.25rem;
}

.station .menu-body {
    padding: var(--default-padding);
}

.category-name {
    font-weight: bold;
}

.station table {
    border-spacing: var(--default-padding);
}

.station table th {
    text-align: left;
}

.menu-item-image {
    height: 10rem;
}

.collapsible-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.collapsible-cafe .cafe-header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: var(--default-padding);
}

.collapsible-cafe .cafe-name {
    font-size: 1.4em;
    text-align: center;
    padding: var(--default-padding);
    background: #00796B;
    color: white;
    border-radius: var(--default-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

.collapsible-cafe .cafe-name .logo {
    height: var(--cafe-logo-height);
}

.collapsible-cafe .cafe-order-link {
    background: #0277BD;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.station .title {
    transition-property: border-top-left-radius, border-top-right-radius;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    justify-content: space-between;
}

.station .menu-body {
    background: #FAFAFA;
}

.station.collapsed {
    background: none;
}

.station.collapsed .title {
    border-radius: var(--default-padding);
}

.station.collapsed .menu-body {
    display: none;
}

.menu-item-head {
    display: flex;
    flex-direction: column;
}

.menu-item-head .menu-item-description {
    opacity: 0.75;
    font-size: 0.9em;
    font-style: italic;
    word-wrap: break-word;
}