.campus-map {
    --color-button-background: #235881;
    height: var(--map-height);
    border-radius: var(--default-padding);
}

.campus-map.loading-skeleton {
    background: #fffefb;
}

.campus-map .leaflet-popup-pane {
    /*display: none;*/
}

.campus-map .leaflet-popup-tip {
    background: var(--color-background);
}

.campus-map .leaflet-popup-content-wrapper {
    background: var(--color-background);
    color: #FAFAFA;
    border-radius: var(--constant-padding);
}

.campus-map .leaflet-popup-content {
    margin: var(--constant-padding);
    line-height: initial;
    font-size: initial;
    display: flex;
    flex-direction: column;
    gap: var(--constant-padding);
}

.campus-map .leaflet-popup-close-button {
    font-size: 2em;
}

.campus-map .leaflet-div-icon {
    background: none;
    padding: 0.25rem;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-button-background);
}

.cafe-popup * {
    box-sizing: border-box;
}

.cafe-popup .group-member-list {
    width: 100%;
}

.cafe-popup .group-member {
    color: white;
    background: #313131;
    padding: var(--constant-padding);
    border-radius: var(--constant-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: stretch;
    min-width: 6rem;
    min-height: 3rem;
    transition: min-height 0.125s ease, padding 0.125s ease;
}

.cafe-popup .group-member:empty {
    min-height: 0;
    padding: 0;
}

.cafe-popup a.group-member {
    text-decoration: none;
}

.cafe-popup a {
    color: white;
}

.cafe-popup a.view-menu {
    background: var(--color-button-background);
}

.campus-map-container {
    position: relative;
}

.campus-map-container .cafe-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--map-height);
    /* Leaflet uses pretty high values */
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-foreground);
    cursor: default;
    box-sizing: border-box;
    /* Not a lot of space in this, so just reduce padding. */
    --default-padding: var(--constant-padding);
}

.campus-map-container .cafe-popup .body {
    background: var(--default-padding);
    background: var(--color-background);
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
}

.overview-station img.station-logo {
    width: 2rem;
    height: 2rem;
    background: #363636;
    border-radius: 0.5rem;
}