.campus-map-container {
    border-radius: var(--default-padding);
    overflow: hidden;
    position: relative;
}

.campus-map {
    --color-button-background: #163650;
    height: var(--map-height);
}

.campus-map.loading-skeleton {
    background: var(--color-map-loading-background);
}

.campus-map .leaflet-div-icon {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campus-map .leaflet-div-icon .cafe-marker-tracker {
    --color-icon-background: #112841;
    --color-icon-border: #225970;
    padding: 0.25rem;
    border-radius: 100%;
    /*background: var(--color-button-background);*/
    width: 1rem;
    height: 1rem;
    font-size: 1.2em;
    background: var(--color-icon-background);
    border: 0.25rem solid var(--color-icon-border);
}

.campus-map .leaflet-div-icon .cafe-marker-tracker.is-homepage-view {
    --color-icon-background: var(--color-favorite);
    --color-icon-border: var(--color-favorite-dark);
}

.cafe-popup .group-member-list {
    width: 100%;
}

.cafe-popup .group-member {
    color: white;
    background: var(--color-map-cafe-popup-group-member-background);
    padding: var(--constant-padding);
    border-radius: var(--constant-padding);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    align-self: stretch;
    min-width: 6rem;
    min-height: 3rem;
    transition: min-height 0.125s ease, padding 0.125s ease;
}

.cafe-popup .group-member:empty {
    min-height: 0;
    padding: 0;
}

.cafe-popup a.group-member {
    text-decoration: none;
}

.cafe-popup a {
    color: white;
}

.cafe-popup a.view-menu {
    background: var(--color-map-cafe-popup-jump-to-menu-button);
}

.campus-map-container .cafe-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--map-height);
    /*leaflet map is included in content index calculation*/
    z-index: var(--z-index-above-content);
    background: var(--color-semi-transparent-cover);
    color: var(--color-foreground);
    cursor: default;
    box-sizing: border-box;
    /* Not a lot of space in this, so just reduce padding. */
    --default-padding: var(--constant-padding);
}

.campus-map-container .cafe-popup .body {
    background: var(--default-padding);
    background: var(--color-background);
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
}

.cafe-popup .close-button {
    background: var(--color-map-cafe-popup-close-button);
}

.campus-map-container .logo-small {
    width: 2rem;
    height: 2rem;
    background: var(--color-map-cafe-logo-background);
    border-radius: 0.5rem;
    object-fit: contain;
}