.cart-button {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 5;
    border-bottom-left-radius: var(--default-padding);
    background: #3F51B5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: var(--default-padding);
    gap: var(--default-padding);
    transition: transform 0.2s ease;
}

.cart-button.empty {
    transform: scaleY(0);
}