.cart-popup {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 5;
    cursor: pointer;
    gap: var(--default-padding);
    transition: transform 0.2s ease;
    padding: 0 0 1rem 1rem;
}

.cart-popup .cart-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--default-padding);
    padding: var(--default-padding);
    background: #3F51B5;
    border-bottom-left-radius: var(--default-padding);
}

.cart-popup.empty {
    transform: scaleY(0) translateX(100%) translateY(-100%);
}

.cart-contents {
    display: none;
}

.cart-popup:hover .cart-info {
    border-bottom-left-radius: 0;
}

.cart-popup:hover .cart-contents {
    display: table;
    background: #5e76ff;
    border-bottom-left-radius: var(--default-padding);
    border-spacing: var(--default-padding);
    margin: 0;
}

.cart-popup:hover .cart-contents td, .cart-popup:hover .cart-contents th {
    margin: 0;
    padding: 0;
}

.cart-item-buttons {
    display: flex;
    gap: 0.5rem;
    background: rgba(0, 0, 0, 0.15);
    border-radius: var(--default-padding);
    padding: 0.5rem;
    justify-content: space-around;
}

.cart-item-buttons button {
    color: white;
    background: none;
    transition: opacity 0.25s ease;
}

.cart-item-buttons button:disabled {
    opacity: 0.25;
}