.search-entity-selector {
    display: flex;
    align-items: center;
    gap: var(--constant-padding);
    flex-wrap: wrap;
    align-self: stretch;
}

.entity-button {
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    background: var(--color-button-radio-option);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    align-self: stretch;
    color: var(--color-almost-white);
}

.entity-button.active {
    background: var(--color-button-radio-selected);
}

.entity-button input {
    padding: 0;
    margin: 0;
    appearance: none;
}

.entity-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background: var(--color-button-radio-disabled);
}

.entity-button.disabled label {
    cursor: not-allowed;
}

.entity-button label {
    cursor: pointer;
}