.review-count {
    color: #AAA;
}

.review-count-bar {
    border-top-right-radius: var(--default-padding);
    border-bottom-right-radius: var(--default-padding);
    background: var(--color-theme-turquoise);
    height: 1em;
}

a.review-location {
    color: unset;
}

.character-counter {
    color: var(--color-foreground);
    align-self: flex-end;
    font-size: var(--card-subtitle-font-size);
    font-style: italic;
    transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

.character-counter.warning {
    color: var(--color-error-light);
}