.search-ideas {
    overflow-x: auto;
}

.search-idea {
    background: var(--color-button-radio-option);
    transition: background-color 0.25s ease;
    white-space: nowrap;
}

.search-idea:hover, .search-idea.selected {
    background: var(--color-button-radio-selected);
}