:root {
    --table-padding: var(--default-padding);
}

.fixed-header-floating-block {
    height: var(--default-padding);
    background: var(--color-background);
    position: absolute;
    top: 0;
    z-index: var(--z-index-above-content-2); /*be above station header*/
    width: 100%;
}

.stations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--default-padding);
    justify-content: center;
    content-visibility: auto;
    margin-bottom: var(--default-padding);
}

.stations.hidden {
    display: none;
}

.station {
    border-radius: 0.5rem;
    color: #212121;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.station .station-header {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: var(--z-index-above-content);
    background: var(--color-background);
}

.station .station-header .favorite-item-button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: var(--default-padding) var(--default-padding) var(--default-padding) 0;
}

.station .station-header .title {
    font-size: var(--section-title-font-size);
    display: flex;
    align-items: center;
    gap: var(--default-padding);
    background: #BBB;
    padding: var(--default-padding);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    flex-grow: 1;
    transition: background-color 0.25s ease;
    height: 100%; /*sometimes the favorite button is larger than the title when the margin is included*/
}

.station.is-favorite .station-header .title {
    background: var(--favorite-color-dark);
}

.station .station-header .title img {
    height: 1.4em;
    margin-right: 0.25rem;
    transition: height 0.5s ease;
}

.station .menu-body {
    padding: var(--default-padding);
    gap: var(--default-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-top-left-radius: var(--default-padding);
    border-bottom-left-radius: var(--default-padding);
    border-bottom-right-radius: var(--default-padding);
}

.category-name {
    text-align: center;
    background: #485470;
    color: var(--color-foreground);
    padding: var(--default-padding);
    border-radius: var(--default-padding);
}

.station .menu-category {
    align-self: stretch;
    flex-grow: 1;
}

.station .menu-category .menu-category-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--default-padding);
    flex-grow: 1;
}

.station .menu-item {
    transition: background-color 0.25s ease;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    /*Max thumbnail size is 400px*/
    max-width: calc(400px + 2 * var(--default-padding));
    align-self: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.station .menu-item:hover {
    background: #EEE;
}

.station .menu-item.is-favorite {
    background: var(--favorite-color);
}

.station .menu-item.is-favorite:hover {
    background: var(--favorite-color-dark);
}

.menu-item-image {
    background: #CCC;
    border-radius: var(--default-padding);
    max-width: 20rem;
}

.menu-item-image.fallback {
    /* same as thumbnails */
    max-height: 200px;
}

.collapsible-menu-list {
    display: flex;
    flex-direction: column;
}

.collapsible-cafe {
    display: flex;
    flex-direction: column;
}

.collapsible-cafe .cafe-header {
    display: flex;
    position: sticky;
    top: calc(var(--default-padding) * -1);
    z-index: var(--z-index-above-content-2);
    gap: var(--default-padding);
    background: var(--color-background);
    padding-bottom: var(--default-padding);
    padding-top: var(--default-padding);
}

.collapsible-cafe .cafe-header .scroll-anchor {
    width: var(--default-padding);
    margin: 0;
    padding: 0;
}

.collapsible-cafe .cafe-name .logo {
    height: var(--cafe-logo-height);
    transition: height 0.125s ease;
}

.collapsible-cafe .cafe-order-link {
    background: #0277BD;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.collapsible-cafe .collapse-body.above-floating {
    z-index: var(--z-index-everything-but-top);
}

.collapsible-cafe .cafe-error {
    padding-bottom: var(--default-padding);
}

.station .title {
    transition-property: border-top-left-radius, border-top-right-radius;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    justify-content: space-between;
}

.station .menu-body {
    background: #FAFAFA;
}

.station.collapsed {
    background: none;
    flex-grow: 0;
}

.station.collapsed .title {
    border-radius: var(--default-padding);
}

.station.collapsed .menu-body {
    display: none;
}

.menu-item-head {
    display: flex;
    flex-direction: column;
}

.menu-item-head .menu-item-description {
    opacity: 0.75;
    font-size: 0.9em;
    font-style: italic;
    word-wrap: break-word;
}

.menu-item-tags {
    display: flex;
    gap: var(--default-padding);
    align-items: center;
}

.menu-item-tag {
    background: #EEE;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    text-align: center;
}

.menu-item-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item-buttons button, .menu-item-buttons a {
    background: #EEE;
    color: #212121;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    text-decoration: none;
}

/* roughly when the table would horizontally overflow just a little -
 * not enough for the UX to be unusable horizontally, but enough for
 * scrolling to be broken since stuff is cut off with justify-content: center
 */
@media screen and (max-width: 1000px) {
    :root {
        --table-padding: 0.5rem;
    }

    .station {
        width: 100%;
    }

    .station .menu-body {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --table-padding: 0;
    }

    .station .menu-body table tbody, .station .menu-body table tr {
        display: flex;
        flex-direction: column;
        gap: var(--default-padding);
        box-sizing: border-box;
    }

    .station * {
        box-sizing: border-box;
    }

    .station table th, .station table td {
        margin: 0;
        padding: var(--default-padding);
    }

    .station .menu-body table tr {
        border-radius: 1rem;
        padding: var(--default-padding);
    }

    .collapsible-cafe .cafe-name .logo {
        display: none;
    }
}