.logo-small {
    width: 2rem;
    height: 2rem;
    background: var(--color-map-cafe-logo-background);
    border-radius: 0.5rem;
    object-fit: contain;
}

.overview-station {
    text-decoration: none;
}

.overview-station .recently-opened-notice {
    width: fit-content;
    align-self: center;
}
