.cart-contents td {
    text-align: center;
}

.cart-item .quantity, .cart-item .price {
    white-space: pre;
    font-family: monospace;
    font-size: 1.3em;
}

.cart-item .quantity {
    /* 99x plus padding */
    width: 5em;
}

.cart-item .price {
    /* $9999.99 plus padding */
    width: 10em;
}

.cart-contents .name-and-modifiers {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-contents .modifier {
    font-size: 0.9em;
}

.cart-contents .modifier td.modifier-name {
    text-align: right;
}

.cart-contents .modifier td.modifier-choices {
    text-align: left;
    font-style: italic;
    opacity: 0.7;
}
