.search-page {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
    position: relative;
}

.search-page .query {
    align-self: stretch;
    background: #46736b;
}

.search-page .search-result-count {
    font-size: var(--page-subtitle-font-size);
    opacity: 0.8;
}

.search-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--default-padding);
    position: sticky;
    top: 0;
    z-index: var(--z-index-above-content);
}

.search-results-horizontal {
    overflow-x: auto;
    scrollbar-gutter: stable;
    padding-bottom: var(--constant-padding);
}

.search-result {
    display: none;
    color: black;
    content-visibility: auto;
}

.search-result.visible {
    display: flex;
}

.search-result-type {
    padding: var(--default-padding);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: var(--default-padding);
    border-bottom-left-radius: var(--default-padding);
    transition: background-color 0.25s ease;
}

.entity-menu-item {
    background: #3F51B5;
}

.entity-station {
    background: #673AB7;
}

.search-result-info {
    background: #FAFAFA;
    border-bottom-right-radius: var(--default-padding);
    border-top-right-radius: var(--default-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: var(--default-padding);
    gap: var(--default-padding);
    transition: background-color 0.25s ease;
}

.search-result.is-favorite .search-result-info {
    background: var(--color-favorite);
}

.search-result.is-favorite .search-result-type {
    background: #a7911b;
}

.search-result.compact .search-result-hits {
    max-width: 25rem;
    max-height: 8rem;
    justify-content: center;
}

.search-result.compact {
    --card-title-font-size: 1em;
}

.search-result-info-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--constant-padding);
    flex-grow: 1;
}

.search-result-info-header .title {
    font-size: var(--card-title-font-size);
}

.search-result-chip {
    background: #2196F3;
    color: white;
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--constant-padding);
}

.chip-data {
    display: flex;
    align-items: center;
    gap: var(--constant-padding);
}

.search-result-hits {
    display: flex;
    flex-wrap: wrap;
    gap: var(--constant-padding);
    /*roughly two rows with some extra so that you can see there's stuff to scroll*/
    max-height: 14rem;
    overflow: auto;
    border-radius: var(--default-padding);
}

.search-result-hits .search-result-chip {
    min-width: 1.5rem;
    display: flex;
    justify-content: center;
}

.search-waiting {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.search-waiting.visible {
    opacity: 1;
}

.search-result-image {
    align-self: center;
    height: 10rem;
    border-radius: var(--default-padding);
    transition: max-height 0.25s ease;
}

.search-result-description {
    opacity: 0.70;
    font-style: italic;
    font-size: 0.9em;
    white-space: pre-wrap;
}

.search-result-fields .search-result-field {
    display: flex;
    align-items: center;
    gap: var(--constant-padding);
}

.hidden-results {
    background: #3678a1;
    color: white;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    display: flex;
    justify-content: center;
    align-content: center;
}

.search-result .search-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
    --color-search-tag: #58886d;
}

.search-result .search-tags .search-result-chip {
    background: none;
    border: 0.125rem solid var(--color-search-tag);
    color: var(--color-search-tag);
    padding: var(--constant-padding);
}

.search-result.loading-skeleton .search-result-image {
    width: 10rem;
    height: 10rem;
    background: #EEE;
}

.compact-view-mode .search-result {
    flex-grow: 1;
}

.search-result-find-button .search-result-find-hits {
    display: none;
    position: absolute;
    top: 100%;
    background: var(--color-background);
    color: var(--color-foreground);
    z-index: var(--z-index-above-content-3);
}

.search-result-find-button:hover .search-result-find-hits {
    display: flex;
}

.search-filters-button {
    background: #818181;
    color: #FAFAFA;
    align-self: stretch;
}

.search-filters-button.open {
    background: #679f30;
}

.search-info {
    background: #3d3d3d;
    flex-grow: 1;
}

.search-filters .dropdown {
    max-height: 30vh;
    overflow: scroll;
}

.search-filters .dropdown .buttons {
    position: sticky;
    top: 0;
}

@media screen and (max-height: 800px) {
    .search-result-image {
        max-height: 8rem;
    }
}

@media screen and (max-width: 800px) {
    .search-result {
        flex-grow: 1;
    }

    .search-result-info {
        display: flex;
        flex-direction: column;
    }

    .search-result.compact .search-result-hits {
        max-width: unset;
    }
}