.search-page {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.search-page .page-title {
    font-size: var(--page-title-font-size);
}

.search-page .search-result-count {
    font-size: var(--page-subtitle-font-size);
    opacity: 0.8;
}

.search-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--default-padding);
}

.search-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.search-results-compact {
    overflow-x: auto;
    scrollbar-gutter: stable;
    padding-bottom: 0.5rem;
}

.search-result {
    display: none;
    color: black;
}

.search-result.visible {
    display: flex;
}

.search-result-type {
    padding: var(--default-padding);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: var(--default-padding);
    border-bottom-left-radius: var(--default-padding);
    transition: background-color 0.25s ease;
}

.entity-menu-item {
    background: #3F51B5;
}

.entity-station {
    background: #673AB7;
}

.search-result-info {
    background: #FAFAFA;
    border-bottom-right-radius: var(--default-padding);
    border-top-right-radius: var(--default-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: var(--default-padding);
    gap: var(--default-padding);
    transition: background-color 0.25s ease;
}

.search-result .favorite-item-button {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.search-result.is-favorite .search-result-info {
    background: var(--favorite-color);
}

.search-result.is-favorite .search-result-type {
    background: #a7911b;
}

.search-result.compact .search-result-hits {
    max-width: 25rem;
    justify-content: center;
}

.search-result.compact {
    --card-title-font-size: 1em;
}

.search-result-info-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.search-result-info-header .search-result-name {
    font-size: var(--card-title-font-size);
}

.search-result-chip {
    background: #2196F3;
    color: white;
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.chip-data {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-result-hits {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.search-waiting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--default-padding);
    opacity: 0;
    transition: opacity 0.5s ease-in-out
}

.search-waiting.visible {
    opacity: 1;
}

.search-result-image {
    align-self: center;
    max-height: 10rem;
    border-radius: var(--default-padding);
    transition: max-height 0.25s ease;
}

.search-result-description {
    opacity: 0.70;
    font-style: italic;
    font-size: 0.9em;
    white-space: pre-wrap;
}

.search-result-fields .search-result-field {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hidden-results {
    background: #3678a1;
    color: white;
    padding: var(--default-padding);
    border-radius: var(--default-padding);
    display: flex;
    justify-content: center;
    align-content: center;
}

.search-result .search-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
    --color-search-tag: #58886d;
}

.search-result .search-tags .search-result-chip {
    background: none;
    border: 0.125rem solid var(--color-search-tag);
    color: var(--color-search-tag);
    padding: 0.5rem;
}

@media screen and (max-height: 800px) {
    .search-result-image {
        max-height: 8rem;
    }
}

@media screen and (max-width: 800px) {
    .search-result {
        flex-grow: 1;
    }

    .search-result-info {
        display: flex;
        flex-direction: column;
    }

    .search-result.compact .search-result-hits {
        max-width: unset;
    }
}